<!DOCTYPE html>

<html>
    {% include head.html %}
    <body>
        <div class="container">
          <div class="site">
            {% include header.html %}
            <div class="content">
              <div class="banner">
                <div class="photo">
                  <img src="/files/Headshot.JPG" width="200px" height="300px">
                </div>
                <div class="contact">
                  North Carolina State University<br>
                  email: href="mailto:tmking4@ncsu.edu">tmking4@ncsu.edu<br>
                </div>
              </div>
              </div>
            </div>
            <div class="sidebar"></div>
            {% include footer.html %}
          </div>
        </div>
      </div>
    </body>
</html>